/* Navigation */

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
}

nav a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

/* Layout */

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: 1rem;
    align-items: start;
}

/* Headings */

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
}

/* Images */

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main img {
    width: 150px;
    height: auto;
}

aside img {
    width: 200px;
    height: auto;
}

/* Main */

main {
    grid-column: 2;
}

/* Aside */

aside {
    grid-column: 1;
    grid-row: 1;
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Paragraphs */

p {
    padding: 0;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 1rem;
}